
# /
/.classpath
/.project
/target
/.pom.xml.swp

# /fred-acceptance-tests/
/fred-acceptance-tests/target

# /fred-integration-tests/
/fred-integration-tests/target

# /fred-main-webapp/
/fred-main-webapp/nb-configuration.xml
/fred-main-webapp/nbactions.xml
/fred-main-webapp/target

# /fred-main-webapp/src/main/java/
/fred-main-webapp/src/main/java/.swp

# /fred-main-webapp/src/main/java/nz/cri/gns/fred/reports/
/fred-main-webapp/src/main/java/nz/cri/gns/fred/reports/FredNukem.java

# /fred-main-webapp/src/main/sql/del/

# /fred-main-webapp/src/main/webapp/
/fred-main-webapp/src/main/webapp/.~lock.FRED.xlsm#

# /fred-main-webapp/src/main/webapp/plugin/OpenLayers-2.11/img/
/fred-main-webapp/src/main/webapp/plugin/OpenLayers-2.11/img/Thumbs.db

# /fred-redirect-webapp/
/fred-redirect-webapp/target
nb-configuration.xml
fred-acceptance-tests/nb-configuration.xml
fred-integration-tests/nb-configuration.xml
.mvn/wrapper/maven-wrapper.jar
/fred-main-webapp/nbproject/
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/vcs.xml
.idea/
fred-integration-tests/fred-integration.iml
fred-main-webapp/fred.iml
fred-top.iml
fred-integration-tests/src/main/resources/hibernate/Adoption.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Age.hbm.xml
fred-integration-tests/src/main/resources/hibernate/AuditEdit.hbm.xml
fred-integration-tests/src/main/resources/hibernate/AuditTable.hbm.xml
fred-integration-tests/src/main/resources/hibernate/BacklogStatus.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Bedding.hbm.xml
fred-integration-tests/src/main/resources/hibernate/BedThickness.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Carbonate.hbm.xml
fred-integration-tests/src/main/resources/hibernate/ColourModifier.hbm.xml
fred-integration-tests/src/main/resources/hibernate/ConfidentialGroup.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Country.hbm.xml
fred-integration-tests/src/main/resources/hibernate/DataOrigin.hbm.xml
fred-integration-tests/src/main/resources/hibernate/DatumMethod.hbm.xml
fred-integration-tests/src/main/resources/hibernate/DrillType.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Feature.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Folder.hbm.xml
fred-integration-tests/src/main/resources/hibernate/FolderRight.hbm.xml
fred-integration-tests/src/main/resources/hibernate/FolderType.hbm.xml
fred-integration-tests/src/main/resources/hibernate/FolderUser.hbm.xml
fred-integration-tests/src/main/resources/hibernate/FossilGroup.hbm.xml
fred-integration-tests/src/main/resources/hibernate/FrNumber.hbm.xml
fred-integration-tests/src/main/resources/hibernate/FrUser.hbm.xml
fred-integration-tests/src/main/resources/hibernate/FrUserView.hbm.xml
fred-integration-tests/src/main/resources/hibernate/GrainSize.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Hardness.hbm.xml
fred-integration-tests/src/main/resources/hibernate/hibernate.cfg.xml
fred-integration-tests/src/main/resources/hibernate/Lab.hbm.xml
fred-integration-tests/src/main/resources/hibernate/LabSection.hbm.xml
fred-integration-tests/src/main/resources/hibernate/LogTable.hbm.xml
fred-integration-tests/src/main/resources/hibernate/MetaCat.hbm.xml
fred-integration-tests/src/main/resources/hibernate/MetaCatType.hbm.xml
fred-integration-tests/src/main/resources/hibernate/OrgView.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Paleontology.hbm.xml
fred-integration-tests/src/main/resources/hibernate/PalList.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Person.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Record.hbm.xml
fred-integration-tests/src/main/resources/hibernate/RecordStageView.hbm.xml
fred-integration-tests/src/main/resources/hibernate/RegistrationArea.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Relationship.hbm.xml
fred-integration-tests/src/main/resources/hibernate/RelationshipType.hbm.xml
fred-integration-tests/src/main/resources/hibernate/RelationType.hbm.xml
fred-integration-tests/src/main/resources/hibernate/RockColour.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Sample.hbm.xml
fred-integration-tests/src/main/resources/hibernate/SampleSquirrelView.hbm.xml
fred-integration-tests/src/main/resources/hibernate/SampleStageView.hbm.xml
fred-integration-tests/src/main/resources/hibernate/SecurityClass.hbm.xml
fred-integration-tests/src/main/resources/hibernate/SedimentaryFeatureType.hbm.xml
fred-integration-tests/src/main/resources/hibernate/SentTo.hbm.xml
fred-integration-tests/src/main/resources/hibernate/SiteViewDEPRECATED.hbm.xml
fred-integration-tests/src/main/resources/hibernate/SquirrelAgeView.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Stage.hbm.xml
fred-integration-tests/src/main/resources/hibernate/StratigraphicUnit.hbm.xml
fred-integration-tests/src/main/resources/hibernate/TaxonomicGroup.hbm.xml
fred-integration-tests/src/main/resources/hibernate/TaxonomicLookup.hbm.xml
fred-integration-tests/src/main/resources/hibernate/UserRightView.hbm.xml
fred-integration-tests/src/main/resources/hibernate/UserView.hbm.xml
fred-integration-tests/src/main/resources/hibernate/Weathering.hbm.xml
