<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>frf</servlet-name>
        <servlet-class>nz.cri.gns.fred.servlet.FRFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajax</servlet-name>
        <servlet-class>nz.cri.gns.fred.servlet.AJAXServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>locality</servlet-name>
        <servlet-class>nz.cri.gns.fred.servlet.LocalityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wfsProxy</servlet-name>
        <servlet-class>nz.cri.gns.fred.servlet.WFSProxy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dataEntryTemplate</servlet-name>
        <servlet-class>nz.cri.gns.fred.servlet.DataEntryTemplateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>de.jsp</servlet-name>
        <servlet-class>nz.cri.gns.fred.servlet.De_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dp.jsp</servlet-name>
        <servlet-class>nz.cri.gns.fred.servlet.Dp_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>result_list.jsp</servlet-name>
        <servlet-class>nz.cri.gns.fred.servlet.ResultList_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportServlet</servlet-name>
        <servlet-class>nz.cri.gns.fred.servlet.ExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServiceServlet</servlet-name>
        <servlet-class>nz.cri.gns.fred.servlet.AuthServiceProxy</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>template</servlet-name>
        <servlet-class>nz.cri.gns.fred.importer.TemplateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xlsUploader</servlet-name>
        <servlet-class>nz.cri.gns.fred.importer.XLSUploadServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ajax</servlet-name>
        <url-pattern>/ajaxSupport.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frf</servlet-name>
        <url-pattern>/frf/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>locality</servlet-name>
        <url-pattern>/locality/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wfsProxy</servlet-name>
        <url-pattern>/wfsProxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataEntryTemplate</servlet-name>
        <url-pattern>/data-entry-template/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>de.jsp</servlet-name>
        <url-pattern>/de.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dp.jsp</servlet-name>
        <url-pattern>/dp.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>result_list.jsp</servlet-name>
        <url-pattern>/result_list.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportServlet</servlet-name>
        <url-pattern>/export.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServiceServlet</servlet-name>
        <url-pattern>/updateUserRight.json</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>template</servlet-name>
        <url-pattern>/template.xlsm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xlsUploader</servlet-name>
        <url-pattern>/xlsUploader</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>240</session-timeout>
    </session-config>
    <error-page>
        <error-code>401</error-code>
        <location>/general-error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/general-error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/general-error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/general-error.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/general-error.jsp</location>
    </error-page>
</web-app>
