<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <context-param>
	<param-name>rmiServer</param-name>
	<param-value>condor</param-value>
    </context-param>
    <context-param>
	<param-name>dbConnect</param-name>
	<param-value>gryphon:1521:dev</param-value>
    </context-param>
    <context-param>
	<param-name>rmiBinding</param-name>
	<param-value>OnlineUtils</param-value>
    </context-param>
    <context-param>
	<param-name>dbUser</param-name>
	<param-value>mis</param-value>
    </context-param>

	<servlet>
		<servlet-name>frf</servlet-name>
		<servlet-class>nz.cri.gns.fred.servlet.FRFormServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ajax</servlet-name>
		<servlet-class>nz.cri.gns.fred.servlet.AJAXServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>locality</servlet-name>
		<servlet-class>nz.cri.gns.fred.servlet.LocalityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajax</servlet-name>
		<url-pattern>/ajaxSupport.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frf</servlet-name>
		<url-pattern>/frf/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>locality</servlet-name>
		<url-pattern>/locality/*</url-pattern>
	</servlet-mapping>

    <session-config>
	<session-timeout>30</session-timeout>
    </session-config>
</web-app>
