@CHARSET "ISO-8859-1";

table {
    border: solid;
    border-width: 1px;
    font-family: sans-serif;
    border-collapse: collapse;
}

th,td {
    border: 1px solid black;;
}

.error {
    color: darkred;
    font-size:16px;
    font-weight: bold;
    border: none;
    padding-top: 10px;
}

.errorCell {
    font-size:16px;
    font-weight: bold;
    background-color: orange;
}

.excelHeading {
    background-color: linen;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
}

.ggwHeading {
    background-color: linen;
    max-height: 4em;
    overflow: hidden;
    text-align: left;
    font-size: 10px;
}

.newrow {
    font-weight: bold;
}

.debug {
    display: none;
}

.info {
    margin-left: 4em;
}

.warn {
    color: orange;
    font-weight: bold;
}


.munginator-status, .munginator-progress {
    position: fixed;
    top: 100px;
    width: 800px;
    height: 120px;
    border: 1px solid black;
    padding: 10px; 
    background-color: white;
}

#munginator-warning, #munginator-error {
    background-color: orange;
}

#munginator-success {
    background-color: #b9faa7;
}