<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD//EN" 
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- a SessionFactory instance listed as /jndi/name -->
	<session-factory>
		
		<!-- properties -->
		<property name="show_sql">false</property>
		<!-- Rest done programmatically -->
	
		<!-- mapping files -->
		<mapping resource="nz/cri/gns/fred/hibernate/Adoption.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/AgeView.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/AuditEdit.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/AuditTable.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/BacklogStatus.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Bedding.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/BedThickness.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Carbonate.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/ColourModifier.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/ConfidentialGroup.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Country.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/DataOrigin.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/DatumMethod.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/DrillType.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Feature.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/FeatureMeta.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Folder.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/FolderRight.hbm.xml"/> 
		<mapping resource="nz/cri/gns/fred/hibernate/FolderType.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/FolderUser.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/FossilGroup.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/FrNumber.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/FrUser.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/FrUserView.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/GrainSize.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Hardness.hbm.xml"/>
        <mapping resource="nz/cri/gns/fred/hibernate/Lab.hbm.xml"/>
        <mapping resource="nz/cri/gns/fred/hibernate/LabSection.hbm.xml"/>
        <mapping resource="nz/cri/gns/fred/hibernate/LogTable.hbm.xml"/>
        <mapping resource="nz/cri/gns/fred/hibernate/OrgView.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Paleontology.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/PalList.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/PalListMeta.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Person.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Record.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/RecordMeta.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/RegistrationArea.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Relationship.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/RelationshipType.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/RelationType.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/RockColour.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Sample.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/SampleMeta.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/SecurityClass.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/SedimentaryFeatureType.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/SentTo.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/SiteView.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Stage.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/StratigraphicUnit.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/TaxonomicGroup.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/TaxonomicLookup.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/UserRightView.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/UserView.hbm.xml"/>
		<mapping resource="nz/cri/gns/fred/hibernate/Weathering.hbm.xml"/>
				
				
	</session-factory>
</hibernate-configuration>